@import "vars.css";

@media (prefers-color-scheme: dark) {
    body: {
        background: var(--dark-color-bg);
    }

    .error-head p {
        color: color(var(--dark-color-base) l(+50%));
    }

    .page-head-title {
        color: var(--dark-color-base);
    }

    .page-head-description {
        color: color(var(--dark-color-border) l(-20%));
    }

    .site-foot {
        color: color(var(--dark-color-border) l(-20%));
    }

    .site-foot a {
        color: var(--dark-color-base);
    }

    .site-head-left a,
    .site-head-right a {
        color: var(--dark-color-base);
    }

    .site-head-logo {
        color: var(--dark-color-base);
    }

    .rss-button svg {
        fill: var(--dark-color-base);
    }

    .post-content-title {
        color: var(--dark-color-base);
    }

    .post-content-excerpt {
        color: var(--dark-color-base);
    }

    .post-content-body h1,
    .post-content-body h2,
    .post-content-body h3,
    .post-content-body h4,
    .post-content-body h5,
    .post-content-body h6 {
        color: var(--dark-color-base);
    }

    .post-content-body code {
        background: var(--dark-color-bg);
    }

    .post-content-body pre {
        border: color(var(--dark-color-base) l(-10%)) 1px solid;
        color: var(--dark-color-bg);
        background: color(var(--dark-color-base) l(-3%));
    }
}
